.social-media-buttons{
    float: left;
    list-style: none;
    margin: 5px 0 20px 0;
    padding: 0;
    width: 100%;
}

ul.social-media-buttons li{
    display: block;
    float: left;
    margin-right: 10px;
    height: 20px;
    width: 107px;
}

ul.social-media-buttons li.google-share-button{
    margin-top: 2px;
}

a.readmore {
    background: #ebebeb;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: #666;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

a.readmore:hover{
    background:#777;
    text-shadow:none;
    color:#f8f8f8
}

div.posts{
    padding-bottom: 20px;
}
