
{% if counter > 1 %}
    <hr/>
{% endif %}
<h4 class="date">{{ article.date.strftime("%b %e,  %G") }}</h4>

<div class="post">
    {% if article['title'] -%}
        <h2 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
        </h2>
    {% endif %}

    {{ article.summary }}
    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read more -></a>

    <div class="clear"></div>
</div>
