
{% if SHARING_METHODS|length > 0 %}
   <hr/>
{% endif %}
<div class="row social-media-row">
    <div class="col-md-12">
        <div class="btn-group btn-group-sm">
            <ul class="social-media-buttons">
                {% if 'twitter' in SHARING_METHODS %}
                    <li class="twitter-share-button"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" {% if TWITTER_USERNAME %}data-via="{{TWITTER_USERNAME}}"{% endif %}>Tweet</a></li>
                {% endif %}
                {% if 'facebook' in SHARING_METHODS %}
                    <li class="facebook-share-button"><div class="fb-share-button" data-type="button_count"></div></li>
                {% endif %}
                {% if 'google_plus' in SHARING_METHODS %}
                    <li class="google-share-button"><div class="g-plus" data-action="share" data-annotation="bubble"></div></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% if 'twitter' in SHARING_METHODS %}
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{% endif %}
{% if 'facebook' in SHARING_METHODS %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=175184656002590";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 {% endif %}
{% if 'google_plus' in SHARING_METHODS %}
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endif %}
